/* src/components/Header/Header.css */
   i.Nav {
     background-color: #fff;
     border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 2;
     -webkit-transition: height 0.2s ease-in-out;
     transition: height 0.2s ease-in-out;
     height: 77px;
   }
   .Nav-menus {
     display: flex;
     flex-direction: row;
     height: 77px;
     width: 70%;
     margin: 0 auto;
     padding: 26px 40px;
   }
   .Nav-brand-logo {
     display: block;
     background-position: 0px -8px;
     background-image: url(../../download.png);
     background-repeat: no-repeat;
     height: 55px;
     width: 176px;
     float:left;
     background-repeat: no-repeat;
     background-size: contain;
     background-size: cover;
     /* text-indent: -1000% */
   }
   .home{
     text-decoration: None;
     font-weight: bold;
     float:left;
     font-size:48px;
     color:Black;
     font-family:Comic Sans MS
   }
